<mat-toolbar>
  <span>Aggiungi un nuovo utente</span>
</mat-toolbar>
<form (ngSubmit)="onSubmit()" [formGroup]="addUserForm" #form="ngForm">
  <div class="form-container">
    <mat-form-field id="nameFormField">
      <input matInput placeholder="Nome" formControlName="firstName" />
      <mat-error>Inserisci il nome</mat-error>
    </mat-form-field>
    <mat-form-field id="surnameFormField">
      <input matInput placeholder="Cognome" formControlName="surname" />
      <mat-error>Inserisci il cognome</mat-error>
    </mat-form-field>
    <mat-form-field id="dateFormField">
      <input
        appDate
        matInput
        placeholder="Data di nascita"
        formControlName="dateOfBirth"
      />
      <mat-error>Data di nascita non valida</mat-error>
    </mat-form-field>
    <mat-form-field id="emailFormField">
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error>Email non valida</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!addUserForm.valid">
      Aggiungi utente
    </button>
  </div>
</form>
